

body {background-color:#777; width: 1024px; margin: 0 auto; } // entire background

h1   {color:#ebebeb;}

header {

	background: #ebebeb;
	text-align:center;
	padding: 30px;
	margin: 10px;

}

nav {

	background: #ebebeb;
	text-align:center;
	padding: 30px;
	margin: 10px;

}


section {
	background: #ebebeb;
    width: 600px;
    
    text-align: center;
    padding: 20px;
    margin: 10px;
    float: left;
    
    height: 350px;
}

aside {
	background: #ebebeb;
	text-align:center;
	padding: 20px;
	margin: 10px;
	float: right;
	width: 285px;
	height: 350px;
}





footer {
	clear: both;
  	background: #ebebeb;
	text-align:center;
	padding: 30px;
	margin:10px;

}

article {
	clear: both;
	background: #777;
	text-align:center;
	padding: 20px;
	margin: 10px;
	height: 25px;
	width: 465px;
}

#thea {
	width: 485px;
	float: left;
}


#theh {
	
	text-align:center;
	padding: 10px;
	margin: 10px;
	float: left;
	width: 485px;
}

#specialdiv {
	background: #ebebeb;
	text-align:center;
	padding: 10px;
	margin: 10px;
	width: 550px;
	height: 250px;
	
}



#thep {
	clear: both;
	background: #ebebeb;
	text-align:center;
	padding: 10px;
	margin: 10px;
	width: 485px;
}


/*

div {
    border: 3px solid blue;
}


.container{background-color:#efeee7;}

.clearfix{overflow: auto;}

div {
    border: 3px solid blue;
}

#wrapper { 
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
}


article {
	clear: both;
	background: #777;
	text-align:center;
	padding: 10px;
	margin-bottom: 10px;
	height: 160px;
}

<!--p background-color:#efeee7  background: #ccc;  -->
<!--{color:red;} -->

height: 160px;

*/